networks:
  mediastack:
    name: mediastack
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: ${DOCKER_SUBNET:?err}
        gateway: ${DOCKER_GATEWAY:?err}

volumes:
  portainer_data:

services:
  portainer:
    image: portainer/portainer-ce:2.21.0
    container_name: portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 8000:8000
      - ${WEBUI_PORT_PORTAINER}:9443
    networks:
      - mediastack

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: mediaserver-gluetun
    restart: always
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "8888:8888/tcp"                         # Gluetun Local Network HTTP proxy
      - "8388:8388/tcp"                         # Gluetun Local Network Shadowsocks
      - "8388:8388/udp"                         # Gluetun Local Network Shadowsocks
      - ${GLUETUN_CONTROL_PORT:?err}:${GLUETUN_CONTROL_PORT:?err} # Gluetun Status Port

# Comment out lines below if they are not going to use Gluetun VPN for Internet connection:

      - "${WEBUI_PORT_BAZARR:?err}:6767"        # WebUI Portal: Bazarr
      - "${WEBUI_PORT_JELLYFIN:?err}:8096"      # WebUI Portal: Jellyfin
      - "${WEBUI_PORT_JELLYSEERR:?err}:5055"    # WebUI Portal: Jellyseerr
      - "${WEBUI_PORT_PROWLARR:?err}:9696"      # WebUI Portal: Prowlarr
      - "${WEBUI_PORT_RADARR:?err}:7878"        # WebUI Portal: Radarr
      - "${WEBUI_PORT_SABNZBD:?err}:8080"       # WebUI Portal: SABnzbd
      - "${WEBUI_PORT_SONARR:?err}:8989"        # WebUI Portal: Sonarr

      - "${WEBUI_PORT_QBITTORRENT:?err}:${WEBUI_PORT_QBITTORRENT:?err}"   # WebUI Portal: qBittorrent

      - "${QBIT_PORT:?err}:6881"                # Transmission Torrent Port

      - "${TDARR_SERVER_PORT:?err}:${TDARR_SERVER_PORT:?err}"   # Tdarr: Server Port
      - "${WEBUI_PORT_TDARR:?err}:${WEBUI_PORT_TDARR:?err}"     # Tdarr: WebUI Portal

    volumes:
      - ${FOLDER_FOR_DATA:?err}/gluetun:/gluetun
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER:?err}
      - OPENVPN_USER=${VPN_USERNAME:?err}
      - OPENVPN_PASSWORD=${VPN_PASSWORD:?err}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
      - SERVER_REGIONS=${SERVER_REGIONS}
      - SERVER_CITIES=${SERVER_CITIES}
      - SERVER_HOSTNAMES=${SERVER_HOSTNAMES}
      - SERVER_CATEGORIES=${SERVER_CATEGORIES}
      - FIREWALL_OUTBOUND_SUBNETS=${LOCAL_SUBNET:?err}
      - OPENVPN_CUSTOM_CONFIG=${OPENVPN_CUSTOM_CONFIG}
      - HTTP_CONTROL_SERVER_ADDRESS=:${GLUETUN_CONTROL_PORT:?err}
      - VPN_TYPE=${VPN_TYPE}
      - VPN_ENDPOINT_IP=${VPN_ENDPOINT_IP}
      - VPN_ENDPOINT_PORT=${VPN_ENDPOINT_PORT}
      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - HTTPPROXY=on
      - SHADOWSOCKS=on
    networks:
      - mediastack

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: mediaserver-bazarr
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/bazarr:/config
      - ${FOLDER_FOR_MEDIA:?err}:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - TZ=${TIMEZONE:?err}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:bazarr
      - TP_THEME=${TP_THEME:?err}
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_BAZARR:?err}:6767"             # Configured in Gluetun VPN container

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: mediaserver-homepage
    restart: unless-stopped
    ports:
      - ${WEBUI_PORT_HOMEPAGE:?err}:3000
    volumes:
      - /home/michondr/_michondr/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
#      - PUID=${PUID:?err}
#      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
# NOTE: Homepage MUST NOT connect to the Gluetun VPN container
    networks:
      - mediastack

  jellyfin:
    image: jellyfin/jellyfin
    container_name: mediaserver-jellyfin
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/jellyfin:/config
      - ${FOLDER_FOR_MEDIA:?err}/media:/data/jellyfynv1
      - ${FOLDER_FOR_MEDIA:?err}/torrents/incomplete:/data/incomplete/torrents
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_JELLYFIN:?err}:8096"             # Configured in Gluetun VPN container
#      - 7359:7359/udp                 # Enable for DLNA - Only works on HOST Network Mode
#      - 1900:1900/udp                 # Enable for DLNA - Only works on HOST Network Mode

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: mediaserver-jellyseerr
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/jellyseerr:/app/config
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_JELLYSEERR:?err}:5055"             # Configured in Gluetun VPN container

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: mediaserver-prowlarr
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/prowlarr:/config
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - TZ=${TIMEZONE:?err}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:prowlarr
      - TP_THEME=${TP_THEME:?err}
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_PROWLARR:?err}:9696"             # Configured in Gluetun VPN container

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: mediaserver-qbittorrent
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/qbittorrent:/config
      - ${FOLDER_FOR_MEDIA:?err}:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
      - WEBUI_PORT=${WEBUI_PORT_QBITTORRENT:?err}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:qbittorrent
      - TP_THEME=${TP_THEME:?err}
## Do Not Change Network for qBittorrent
## qBittorrent MUST always use a VPN / Secure Internet connection
    network_mode: "service:gluetun"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: mediaserver-radarr
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/radarr:/config
      - ${FOLDER_FOR_MEDIA:?err}:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - TZ=${TIMEZONE:?err}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:radarr
      - TP_THEME=${TP_THEME:?err}
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_RADARR:?err}:7878"             # Configured in Gluetun VPN container

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: mediaserver-sabnzbd
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/sabnzbd:/config
      - ${FOLDER_FOR_MEDIA:?err}:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - TZ=${TIMEZONE:?err}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:sabnzbd
      - TP_THEME=${TP_THEME:?err}
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_SABNZBD:?err}:8080"             # Configured in Gluetun VPN container

  smtp:
    image: wodby/opensmtpd:latest
    container_name: mediaserver-smtp
    restart: unless-stopped
    ports:
      - ${SMTP_PORT:?err}:25
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
      - OPENSMTPD_BOUNCE_WARN=1h
      - OPENSMTPD_EXPIRE=7d
      - OPENSMTPD_MAX_MESSAGE_SIZE=50M
      - RELAY_HOST=${DOMAINNAME:?err}
      - RELAY_PROTO=smtp+tls
      - RELAY_USER=${SMTP_USERNAME}
      - RELAY_PASSWORD=${SMTP_PASSWORD}
      - RELAY_PORT=${SMTP_PORT:?err}
# NOTE: SMTP Relay MUST NOT connect to the Gluetun VPN container
    networks:
      - mediastack

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: mediaserver-sonarr
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/sonarr:/config
      - ${FOLDER_FOR_MEDIA:?err}:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - TZ=${TIMEZONE:?err}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:sonarr
      - TP_THEME=${TP_THEME:?err}
    network_mode: "service:gluetun"
#    ports:
#      - "${WEBUI_PORT_SONARR:?err}:8989"             # Configured in Gluetun VPN container

  nginx:  #catch 'home' as localhost
    image: nginx:latest
    container_name: mediaserver-nginx
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/nginx:/etc/nginx/conf.d
    ports:
      - 80:80
      - 443:443
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
      - NGINX_HOST=home
      - NGINX_PORT=80
    networks:
      - mediastack

  tdarr:
    image: ghcr.io/haveagitgat/tdarr:latest
    container_name: mediaserver-tdarr
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/tdarr/server:/app/server
      - ${FOLDER_FOR_DATA:?err}/tdarr/configs:/app/configs
      - ${FOLDER_FOR_DATA:?err}/tdarr/logs:/app/logs
      - ${FOLDER_FOR_DATA:?err}/tdarr_transcode_cache:/temp
      - ${FOLDER_FOR_MEDIA:?err}/media:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
      - serverIP=0.0.0.0
      - serverPort=${TDARR_SERVER_PORT:?err}
      - webUIPort=${WEBUI_PORT_TDARR:?err}
      - internalNode=true
      - nodeID=Tdarr_Server
    network_mode: "service:gluetun"
#    ports:
#      - "${TDARR_SERVER_PORT:?err}:${TDARR_SERVER_PORT:?err}"      # Configured in Gluetun VPN container
#      - "${WEBUI_PORT_TDARR:?err}:${WEBUI_PORT_TDARR:?err}"        # Configured in Gluetun VPN container

  tdarr-node:
    image: ghcr.io/haveagitgat/tdarr_node:latest
    container_name: mediaserver-tdarr-node
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_DATA:?err}/tdarr/configs:/app/configs
      - ${FOLDER_FOR_DATA:?err}/tdarr/logs:/app/logs
      - ${FOLDER_FOR_DATA:?err}/tdarr_transcode_cache:/temp
      - ${FOLDER_FOR_MEDIA:?err}/media:/data
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
      - nodeID=Tdarr_Node_1
      - serverIP=0.0.0.0
      - serverPort=${TDARR_SERVER_PORT:?err}
    network_mode: "service:gluetun"

  speedtest-tracker:
    container_name: speedtest-tracker
    ports:
      - "${WEBUI_PORT_SPEEDTEST_TRACKER:?err}:80"

    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - APP_KEY=${SPEEDTEST_TRACKER_KEY:?err}
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE="*/10 * * * *"
      - SPEEDTEST_SERVERS=
      - PRUNE_RESULTS_OLDER_THAN=
      - CHART_DATETIME_FORMAT=
      - DATETIME_FORMAT=
      - APP_TIMEZONE=${TIMEZONE:?err}
    volumes:
      - ${FOLDER_FOR_DATA:?err}/speedtest-tracker:/config
      - ${FOLDER_FOR_DATA:?err}/speedtest-tracker:/config/keys
    image: lscr.io/linuxserver/speedtest-tracker:latest
    restart: unless-stopped